services:
  server:
    build:
      dockerfile: server.dockerfile
      context: .
    networks:
      - app-network

  caddy:
    image: serfriz/caddy-cloudflare:latest

    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"

    environment:
      env_file: .env

    volumes:
      - $PWD/caddy/Caddyfile:/etc/caddy/Caddyfile

    networks:
      - app-network

networks:
  app-network:
    driver: bridge
